#familyPhoto {
  background-image: url(../img/family.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: initial;
  background-color: lightblue;
  background-origin: initial;
  background-size: contain; }

#aboutMe {
  background-color: lightgray; }

#aboutMe h3 {
  border-bottom: 1px solid black; }

#familyPhoto {
  height: 375; }

@media (max-width: 767px) {
  #familyPhoto {
    height: 300px; } }

#flowerLinkCont {
  min-height: 300px;
  background-color: yellow;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px; }

#yellowFlower {
  background-image: url(../img/yellowFlower.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: initial;
  background-attachment: initial;
  min-height: 300px; }

#treePhoto {
  background-image: url(../img/tree-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: initial;
  background-attachment: fixed;
  min-height: 300px; }

#earlyLifeCol, #eduGoalsCol, #ambCol {
  padding-top: 45px; }

#earlyLifeCol {
  background-color: lightblue; }

#eduGoalsCol {
  background-color: #adbfe6; }

#ambCol {
  background-color: #adb3e6; }

#firstName {
  margin-top: 40px; }

#formGroupOne input {
  margin-bottom: 40px; }

#titleText {
  border-bottom: 1px solid black;
  margin-top: 40px; }

#contactInformation h4 {
  padding-bottom: 20px;
  border-bottom: 1px solid black; }

#contactInformation h4, h5 {
  margin-left: 150px;
  margin-right: 80px; }

#contactInformation p, h5 {
  display: inline-block; }

#sendButton {
  width: 150px;
  margin-left: 700px; }

#buttonRow {
  margin-top: 40px;
  margin-bottom: 40px; }

/* div {
    border: 1px solid black;
} */
footer p {
  display: inline-block; }

.footer {
  background-color: black;
  color: white;
  text-align: right; }

.banner {
  background-color: darkcyan;
  min-height: 350px; }

.banner-text {
  color: white;
  margin-top: 120px;
  margin-left: 100px;
  font-size: 5em; }

.info-text {
  margin-top: 45px;
  margin-left: 54pcx;
  color: darkcyan;
  font-size: 4em; }

.info-cont {
  background-color: darkgray; }

.secondary-banner {
  background-color: #00588b;
  min-height: 350px; }
